Package: com.hopeless.wechatnoads
Name: WeChatNoAds
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Fuck Wechat Ads
Maintainer: hopeless
Author: hopeless
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
